<%- include('header')  %> 
<div class="grid-item Sidebar-left">
  Sidebar Left
</div>   
<div class="grid-item Main">
  <h1>About Me</h1>
  
  
</div>     
<div class="grid-item Sidebar-right">
  Sidebar Right
</div>
<%- include('footer')  %> 

