
      
<script src="../javascripts/script.js"></script>

<div class="grid-item Footer">

  <div class="container footer-container">
    <div class="row footer-row">
      <div class="column column-left">
        left column 25%
      </div>
      <div class="column column-middle">
        middle column 50% ooter
      </div>
      <div class="column column-right">
        right column 25%
      </div>
    </div>
  </div>
  
</div>

</div>
</body>
</html>

