
      
<script src="../javascripts/script.js"></script>

<div class="grid-item Footer">

  <div class="container footer-container">
    <div class="row footer-row">
      <div class="column column-left">
        <br/>
        <span id="copy-right">&#169; Copyright 2020 vipin</span>
      </div>
      <div class="column column-middle">
        <button onclick="goToTop()"><span id="up-arrow-1">&#8593;</span>Top to Page<span id="up-arrow-2">&#8593;</span></button>
      </div>
      <div class="column column-right">
        <div class="row">
          <button class="social-media-btn facebook-btn"><a href="https://www.facebook.com/vipinkmboj"><img src="images/fb.png"/></a></button>
          <button class="social-media-btn twitter-btn"><a href="https://www.facebook.com/vipinkmboj"><img src="images/twitter.png"/></a></button>
          <button class="social-media-btn instagram-btn"><a href="https://www.facebook.com/vipinkmboj"><img src="images/instagram.jpg"/></a></button>

        </div>
              </div>
    </div>
  </div>
  
</div>

</div>
</body>
</html>

