<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="../stylesheets/style.css"/>  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item Header">
        <nav class="navbar"> 
            
           <div class="container logo-container">
            <div class="row">
                <div class="column column-left">
                    <div class="logo-monitor"></div>              
                    <div class="logo-keyboard"></div>
                </div>

                <div class="column column-right">
                    <span class="span-text">| Web-Developer</span>
                </div>
            </div>
           </div> 
            
           <!-- <div class="brand-title"><a href="/"><img src="images/vipinLogo.png" width="280px" height="50px"/></a></div>-->
            
            <a class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>

            
            <div class="navbar-links">
                <ul>                
                    <li>
                        <a href="/">Vipin Kumar</a>
                    </li>
                    <li>
                        <a href="/aboutme">About Me</a>
                    </li>
                    <li>
                        <a href="#">My Projects</a>
                        <ul>
                            <li><a href="#">Project One</a></li>
                            <li><a href="#">Project Two</a></li>
                            <li><a href="#">Project Three Project Three</a></li>
                            <li><a href="#">Project Four</a></li>
                            <li><a href="#">Project Five</a></li>
                            <li><a href="#">Project Six</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">My Services</a>
                        <ul>
                            <li><a href="#">Project One</a></li>
                            <li><a href="#">Project Two</a></li>
                            <li><a href="#">Project Three</a></li>
                            <li><a href="#">Project Four</a></li>
                            <li><a href="#">Project Five</a></li>
                            <li><a href="#">Project Six</a></li>
                        </ul>
                    </li>
                    <li>
                        <a id="contactme-border-bottom" href="/contactme">Contact Me</a>
                    </li>                    
                </ul>
            </div>
            
        </nav>
      </div>









