<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="../stylesheets/style.css"/>  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item Header">
        <nav class="navbar"> 
           <!-- 
           <div class="container logo-container">
            <div class="row">
                <div class="column column-left">
                    <div class="logo-monitor"></div>              
                    <div class="logo-keyboard"></div>
                </div>

                <div class="column column-right">
                    <span class="span-text">| Web-Developer</span>
                </div>
            </div>
           </div> 
           -->
           <div class="brand-title"><a href="/"><img src="images/onlinelogomaker-082420-1759-4060.png" width="150px" height="50px"/></a></div>
            
            <a class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>

            
            <div class="navbar-links">
                <ul>                
                    <li>
                        <a href="/">Vipin Kumar</a>                        
                    </li>   
                    <li>
                        <a href="#about">About</a>                        
                    </li>                    
                    <li>
                        <a href="#">My Projects</a>
                        <ul>
                            <li><a href="#">Project One</a></li>
                            <li><a href="#">Project Two</a></li>                            
                        </ul>
                    </li>
                    <li>
                        <a href="/myservices">My Services</a>
                        
                    </li>
                    <li>
                        <a href="/templates">Templates</a>
                        <ul>
                            <li><a href="/portfolio">Portfolio Templates</a></li>
                            <li><a href="/smallbusiness">Small Business Website</a></li>
                            <li><a href="/restaurantTemplates">Restaurant Template</a></li>
                            <li><a href="/blog">Blog Template</a></li>
                            <li><a href="vlog">Vlog Template</a></li>
                            <li><a href="/marketing">Marketing Templates</a></li>
                            <li><a href="/weddingInvitation">Wedding Invitation Template</a></li>
                            <li><a href="/webpage">Web Page</a></li>
                            <li><a href="/comingSoon">Coming Soon Template</a></li>
                            <li><a href="photoTemplates">Photo Templates</a></li>
                            <li><a href="/startpageTemplates">Start Page Templates</a></li>                                                    
                            <li><a href="/otherTemplates">Other Template</a></li>
                        </ul>
                    </li>
                    <li>
                        <a id="contactme-border-bottom" href="/contactme">Contact</a>
                    </li>                    
                </ul>
            </div>
            
        </nav>
      </div>









