   <%- include('header')  %> 
      <div class="grid-item Sidebar-left">
        
      </div>   
      <div class="grid-item Main">
        <div class="container welcome">
          <h1>Vipin Kumar</h1>
          <br/>
          <h2>PORTFOLIO</h2>
          <br/><br/>
          <h3>Web-Developer</h3>
          <br/>
          <hr/>

          <br/><br/>
          <h3>Please Note:</h3>
          <h3 style="color: red;">
            This website is under process right now. <br/>
            You will only be able to access to Home page of this website for now. <br/>
            The complete website will be available soon to your services. <br/>
            Regards.
          </h3>

        </div>
        
        <br/><br/>
        <div class="container introduction">
          <div class=" row row-introduction">
            <div class="column column-left">             
              <h2>                
                Hey there,
                <br/><br/>
                    I am <i>Vipin Kumar</i> ,
                <br/><br/>
                And 
                <br/><br/>
                I am a <i>Web-Developer.</i> 
              </h2>
            
            </div>            
            <div class="column column-right">
              <img src="images/vipinPassportsizePhoto.jpg" width="100px" height="150px"/>
            </div>           
          </div>
          <br/><br/>          
            <h2>My Expertise</h2>  
            <br/>                    
          <div class="row row-introduction-2">           
            <div class="column column-left">
              <p>
                Hey, I create Websites for small Business owners. Usually I deal with front end, but I work on backend as well.
              </p>
            </div>
            <div class="column column-right">

              column right


            </div>
          </div>
        </div>
        
        

      </div> 
      <br/>     
      
    
      <div class="grid-item Sidebar-right">
       
      </div>
    <%- include('footer')  %> 
      
