<%- include('header')  %> 
<div class="grid-item Sidebar-left">
  
</div>   
<div class="grid-item Main">
  <div class="container welcome">
    <h1 style="color:rgba(13, 13, 46, .76);">My Services</h1>
    <br/><br/>
    <h3 style="color: red;">Please checkout the <important><i>My Services</i></important> below, to get the idea about, what type of<important><i> Services </i>, I provide</important>.</h3>
    <br/><br/>   
    <hr/>  
    <br/><br/>   
    
  </div>  
   
  <br/><br/> 

  <div class="container introduction templates web-development">          
    <h1>Web-Development</h1>

    <br/><br/>

    <div class="row web-development-row">
      <div class="column column-left">      
        
        <ul>
          <li><a href="/portfolio"><i>Portfolio Website</i></a></li>
          <li><a href="/restaurantTemplates"><i>Restaurant Website</i></a></li>
          <li><a href="/blog"><i>Blog Website</i></a></li>
          <li><a href="/weddinginvitation"><i>Wedding Invitation Page</i></a></li>  
          <li><a href="/comingSoon"><i>Coming Soon Page</i></a></li>
          <li><a href="/startpageTemplates"><i>Start Page Templates</i></a></li>                 
        </ul>

      </div> 
      <div class="column column-right">
        
        <ul>
          <li><a href="/smallbusiness"><i>Small Business Website</i></a></li>
          <li><a href="/marketing"><i>Marketing Website</i></a></li>
          <li><a href="/vlog"><i>Vlog Website</i></a></li>
          <li><a href="/webpage"><i>Web-Page</i></a></li>
          <li><a href="/photoTemplates"><i>Photo</i></a></li>
          <li><a href="/otherTemplates"><i>Other Websites</i></a></li>
          
        </ul>
      </div> 
    </div>
    
    <br/><br/><br/>
    <strong>Please click on the particular service above, to see the templates of that service 
      <br/><br/>
       OR 
       <br/><br/>
       click on <a href="/templates"><b><i>All Templates</i></b></a> to get all the templates
    </strong>

  </div>
    
</div> 
<br/>     


<div class="grid-item Sidebar-right">
 
</div>
<%- include('footer')  %> 

