<%- include('header')  %> 
<div class="grid-item Sidebar-left">
  
</div>   
<div class="grid-item Main">
  <div class="container welcome">
    <h1 style="color:rgba(13, 13, 46, .76);">Portfolio Templates</h1>
    <br/><br/>
    <h3 style="color: red;">Please checkout the <important><i>Templates</i></important> below, to get the idea about, how a <important><i>Portfolio Website</i>, will look like</important>.</h3>
    <br/>    
    <hr/>  
    <br/><br/>
    
    <p style="color: red;">
      <strong style="color:rgba(13, 13, 46, .76);">Please Note: </strong>Templates are just the showcase ideas in the form of website formats, so that customers can select what they want in their own websites. The buttons and other features will fully work only in the real websites.      
     </p>
     <br/><br/> 
  </div> 
   
  <br/><br/> 

  <div class="container introduction templates">          
    <h1>Portfolio Template</h1>
    <br/><br/>
    <img src="images/img_temp_parallax.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>CV (Resume) Template</h1>
    <br/><br/>
    <img src="images/img_temp_cv.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>


  <div class="container introduction templates">          
    <h1>Photo Portfolio Template</h1>
    <br/><br/>
    <img src="images/img_temp_photo3.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Nature Portfolio Template</h1>
    <br/><br/>
    <img src="images/img_temp_portfolio (2).jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>People Portfolio Template</h1>
    <br/><br/>
    <img src="images/img_temp_portfolio2.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>People Portfolio II Template</h1>
    <br/><br/>
    <img src="images/peoplePortfolio_2_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Dark Portfolio Template</h1>
    <br/><br/>
    <img src="images/darkPortfolio_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Black & White Portfolio Template</h1>
    <br/><br/>
    <img src="images/blackAndwhitePortfolio_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>
    
</div> 
<br/>     


<div class="grid-item Sidebar-right">
 
</div>
<%- include('footer')  %> 

