<%- include('header')  %> 
<div class="grid-item Sidebar-left">
  
</div>   
<div class="grid-item Main">
  <div class="container welcome">
    <h1 style="color:rgba(13, 13, 46, .76);">All Templates</h1>
    <br/><br/>
    <h3 style="color: red;">Please checkout the <important><i>Templates</i></important> below, to get the idea about, how <important><i>All Websites</i>, will look like</important>.</h3>
    <br/>    
    <hr/>  
    <br/><br/>
    
    <p style="color: red;">
      <strong style="color:rgba(13, 13, 46, .76);">Please Note: </strong>Templates are just the showcase ideas in the form of website formats, so that customers can select what they want in their own websites. The buttons and other features will fully work only in the real websites.      
     </p>
     <br/><br/> 
  </div>  
  
  <br/><br/>   

  <div class="container introduction templates">          
    <h1 style="color:rgba(13, 13, 46, .76);">Pizza Restaurant Template</h1>
    <br/><br/>
    <img src="images/pizzaRestaurant_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div> 

  <br/><br/>  

  <div class="container introduction templates">          
    <h1 style="color:rgba(13, 13, 46, .76);">Catering Template</h1>
    <br/><br/>
    <img src="images/img_temp_gourmet_catering.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1 style="color:rgba(13, 13, 46, .76);">Modal Restaurant Template</h1>
    <br/><br/>
    <img src="images/modalRestaurant_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Cafe Template</h1>
    <br/><br/>
    <img src="images/cafe_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div> 

  <br/><br/> 

  <div class="container introduction templates">          
    <h1>Portfolio Template</h1>
    <br/><br/>
    <img src="images/img_temp_parallax.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>CV (Resume) Template</h1>
    <br/><br/>
    <img src="images/img_temp_cv.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>


  <div class="container introduction templates">          
    <h1>Photo Portfolio Template</h1>
    <br/><br/>
    <img src="images/img_temp_photo3.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Nature Portfolio Template</h1>
    <br/><br/>
    <img src="images/img_temp_portfolio (2).jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>People Portfolio Template</h1>
    <br/><br/>
    <img src="images/img_temp_portfolio2.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>People Portfolio II Template</h1>
    <br/><br/>
    <img src="images/peoplePortfolio_2_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Dark Portfolio Template</h1>
    <br/><br/>
    <img src="images/darkPortfolio_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Black & White Portfolio Template</h1>
    <br/><br/>
    <img src="images/blackAndwhitePortfolio_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Band Template</h1>
    <br/><br/>
    <img src="images/img_temp_band.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <div class="container introduction templates">          
    <h1>Architect Template</h1>
    <br/><br/>
    <img src="images/img_temp_architect.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>  

  <div class="container introduction templates">          
    <h1>Blog Template</h1>
    <br/><br/>
    <img src="images/img_temp_blog.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Food Blog Template</h1>
    <br/><br/>
    <img src="images/img_temp_food_blog.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Fashion Blog Template</h1>
    <br/><br/>
    <img src="images/img_temp_fashion_blog.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Cafe Blog Template</h1>
    <br/><br/>
    <img src="images/img_temp_cafe.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Clothing Store Template</h1>
    <br/><br/>
    <img src="images/img_temp_clothing_store.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>
  
  <div class="container introduction templates">          
    <h1>Coming Soon Template</h1>
    <br/><br/>
    <img src="images/img_temp_comingsoon.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Wedding Invitation Template</h1>
    <br/><br/>
    <img src="images/img_temp_wedding.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Photo Template</h1>
    <br/><br/>
    <img src="images/img_temp_photo.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Black & White Photo Template</h1>
    <br/><br/>
    <img src="images/img_temp_photo2.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/> 

  <div class="container introduction templates">          
    <h1>Interior Design Template</h1>
    <br/><br/>
    <img src="images/interiorDesign.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Start Page Template</h1>
    <br/><br/>
    <img src="images/startPage_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Startup Template</h1>
    <br/><br/>
    <img src="images/startup_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>App Launch Template</h1>
    <br/><br/>
    <img src="images/appLaunch_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Marketing Template</h1>
    <br/><br/>
    <img src="images/marketing_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Marketing/Website Template</h1>
    <br/><br/>
    <img src="images/marketingWebsite_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Art Template</h1>
    <br/><br/>
    <img src="images/art_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Webpage Template</h1>
    <br/><br/>
    <img src="images/webpageTemp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Social Media Template</h1>
    <br/><br/>
    <img src="images/socialMedia_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Analitics Template</h1>
    <br/><br/>
    <img src="images/analitics_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Apartment Rental Template</h1>
    <br/><br/>
    <img src="images/apartmentRental_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Hotel Template</h1>
    <br/><br/>
    <img src="images/hotel_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Travel Template</h1>
    <br/><br/>
    <img src="images/travel_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Travel Agency Template</h1>
    <br/><br/>
    <img src="images/travelAgency_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>House Design Template</h1>
    <br/><br/>
    <img src="images/houseDesign.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Screen 50/50 Template</h1>
    <br/><br/>
    <img src="images/screenFifty_Fifty_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Mail Template</h1>
    <br/><br/>
    <img src="images/mail_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>

  <br/><br/>

  <div class="container introduction templates">          
    <h1>Screen 50/50 Template</h1>
    <br/><br/>
    <img src="images/screenFifty_Fifty_temp.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>
  
</div> 
<br/>     


<div class="grid-item Sidebar-right">
 
</div>
<%- include('footer')  %> 

