<%- include('header')  %> 
<div class="grid-item Sidebar-left">
  
</div>   
<div class="grid-item Main">
  <div class="container welcome">
    <h1 style="color:rgba(13, 13, 46, .76);">Wedding Invitation Template</h1>
    <br/><br/>
    <h3 style="color: red;">Please checkout the <important><i>Templates</i></important> below, to get the idea about, how a <important><i>Wedding Invitation</i>, will look like</important>.</h3>
    <br/>    
    <hr/>  
    <br/><br/>
    
    <p style="color: red;">
      <strong style="color:rgba(13, 13, 46, .76);">Please Note: </strong>Templates are just the showcase ideas in the form of website formats, so that customers can select what they want in their own websites. The buttons and other features will fully work only in the real websites.      
     </p>
     <br/><br/> 
  </div>  
   
  <br/><br/> 

  <div class="container introduction templates">          
    <h1>Wedding Invitation Template</h1>
    <br/><br/>
    <img src="images/img_temp_wedding.jpg" width="100%" height="100%"/>
    <br/><br/>          
    <button>Demo</button>   
  </div>
    
</div> 
<br/>     


<div class="grid-item Sidebar-right">
 
</div>
<%- include('footer')  %> 

