* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    background-color: #97cce0;
    
}

.grid-container {
  height: 100vh;
  /*border: 1px solid gray;*/
  outline: none;  
  display: grid;
  font: 18px;
  grid-template-rows: min-content;
  margin: 0;
  padding: 0;  
}
.grid-item {
  padding: 0;
  margin: 0;
  text-align: center;
  /*border: 1px solid red;*/
}
.Header {
  grid-area: 1 / 1 / 2 / 100;
  margin: 0;
  padding: 0;
  
}

.Sidebar-left {
  grid-area: 2 / 1 / 90 / 5;
  
}
.Main {
  grid-area: 2 / 5 / 90 / 95;
}
.Sidebar-right {
  grid-area: 2 / 95 / 100 / 100;
}
.Footer {
  grid-area: 90 / 1 / 100 / 100;
  padding: 5% 0 0 0;
  margin: 0 0 -18px 0;
}

.navbar {
  display: flex;
  /*height:50px;*/
  justify-content: space-between;
  align-items: center;
  background-color:rgba(13, 13, 46, .76);  
  padding: 0;
  margin: 0;
}
/*
.brand-title a {
  font-weight: bolder;
  font-size: 1.5 rem;
  margin: 1rem;
  text-decoration: none;
  color: burlywood;
 
}
*/
.brand-title {
  padding: 0;
  margin: 0;
}
.brand-title a {
  margin: 0;
  padding: 0;
}
.brand-title a img {
  padding-left: 50px;
  margin-top: 3.5px;
}

.toggle-button {
  height: 21px;
  width: 30px;
  background-color: transparent;
  position: absolute;
  top: .80rem;
  right: 1rem;  
  flex-direction: column;
  justify-content: space-between;
  display: flex; 
  padding-bottom: 5px;
  margin: 1% 1% 1% 2%;
  
}
.toggle-button:hover {
  cursor: pointer;
  background-color: #97cce0;
    
}

.toggle-button .bar {
  width: 100%;
  height: 3px;
  background-color:aliceblue;
  border-radius: 10px;
  margin-top: 3.5px;
  
}

.navbar-links ul {  
  display: flex;  
  margin: 0 65px 0 0;   
}
.navbar-links ul li {
  list-style-type: none;
  
}
.navbar-links ul li a {
  text-decoration: none;
  color: aliceblue;
  padding: 8px;
  display: block;
  
}
.navbar-links ul li:hover {
  background-color:  #97cce0;
    
}
@media (max-width: 870px) {
  .Header {
    grid-area: 1 / 1 / 2 / 100;
    margin-bottom: 4px;
    padding: 0;
    
  }
  .navbar {
    height: 50px;
  }

  
/*
  .brand-title a img {
    padding-left: 50px;
    margin-top: 3.5px;
    margin-bottom: 10px;
  }
  */
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;    
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li {
    text-align: start;
  }
  .navbar-links.active {
    display: flex;    
  }
  #contactme-border-bottom {
    border-bottom: .1px solid rgba(13, 13, 46, .76);
  }
}
/* Dropdown Menu */
.navbar-links ul li ul {
  position: absolute;
  display: none;
}
.navbar-links ul li:hover ul {
  display: block;
  /*width: 100%;  just changed it to inherit */
  width: inherit;  
  padding-left: 0;
  text-align: left;
}
.navbar-links ul li ul li {
  background-color: rgba(13, 13, 46, .76);
  justify-content: space-between;
  width: inherit;
  /*align-items: left;*/
}
.navbar-links ul li ul li a {
  border: .1px solid rgba(13, 13, 46, .76);
  word-break: inherit;
}

/* Footer css starts here */
.footer-container .footer-row {
  display: flex;
}
.footer-container .footer-row .column {
  float: left;
  padding: 3%;
  background-color: rgba(13, 13, 46, .76);
  color: aliceblue;
  
}
.footer-container .footer-row .column-left {
  width: 25%;
  
}
.footer-container .footer-row .column-middle {
  width: 50%;  
}
.footer-container .footer-row .column-right {
  width: 25%;
  
}
@media (max-width: 600px) {
  .footer-container .footer-row {
    display: block;
  }
  .footer-container .footer-row .column {
    float: left;
    padding: 2%;
  }
  .footer-container .footer-row .column-left {
    width: 100%;
    
    
  }
  .footer-container .footer-row .column-middle {
    width: 100%;
    
  }
  .footer-container .footer-row .column-right {
    width: 100%;
    
  }
}

.footer-container .footer-row .column-middle button {
  width: 50%;
  background-color: #97cce0;
  border: rgba(13, 13, 46, .76);
  border-radius: 5px;
  padding: 2%;
  color: rgba(13, 13, 46, .76);
  font-weight: bold;
}
.footer-container .footer-row .column-middle button:hover {
  cursor: pointer;
}
.footer-container .footer-row .column-right .row {
  display: flex;
  float: left;
}
.footer-container .footer-row .column-right .row .social-media-btn {
  border: 1px solid rgba(13, 13, 46, .76); 
  
}
.footer-container .footer-row .column-right .row .facebook-btn {
  width: 25%;
  margin: 2% 20% 2% 0;
}
.footer-container .footer-row .column-right .row .twitter-btn {
  width: 50%;
  margin: 2% 20% 2% 20%;
}
.footer-container .footer-row .column-right .row .instagram-btn {
  width: 25%;
  margin: 2% 0 2% 20%;
}
@media(max-width: 600px) {
  .footer-container .footer-row .column-right .row .social-media-btn {
    margin: 50%;
    
  }
}
.footer-container .footer-row .column-right .row .facebook-btn img {
  width: 30px;
  height:37px;
  background-color: transparent;
}
.footer-container .footer-row .column-right .row .twitter-btn img {
  width: 30px;
  height:37px;
  background-color: transparent;
}
.footer-container .footer-row .column-right .row .instagram-btn img {
  width: 30px;
  height:37px;
  background-color: transparent;
}
#up-arrow-1 {
  float: left;
  padding: 2% 0 2% 10%;
  color: rgba(13, 13, 46, .76);
}
#up-arrow-2 {
  float: right;
  padding: 2% 10% 2% 0;
  color: rgba(13, 13, 46, .76);
}

/* Footer css ends here */
.welcome {
  margin: 10% 10% 0 10%;
  padding: 5%;
  width: 82%;
  height: auto;
  border: 10px solid rgba(13, 13, 46, .76);
  border-radius: 20px;  
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(120, 168, 182) 100%);
  color: rgba(13, 13, 46, .76);
}

.welcome h2 {
  width: 50%;
  padding: 3%;
  margin: 0 25% 0 25%;
  
  
  background-color: rosybrown;
  
  border: none;
  border-radius: 50%;
}

.introduction {
  margin: 5% 10% 0 10%;
  padding: 5%;
  width: 82%;
  height: auto;
  border: 10px solid rgba(13, 13, 46, .76);
  border-radius: 20px;  
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(120, 168, 182) 100%);
  color: rgba(13, 13, 46, .76);
}

.contact {
  margin: 5% 10% 10% 10%;
  padding: 5%;
  width: 82%;
  height: auto;
  border: 10px solid rgba(13, 13, 46, .76);
  border-radius: 20px;  
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(120, 168, 182) 100%);
  color: rgba(13, 13, 46, .76);
}
.contact form input {
  width: 100%;
  background-color: transparent;
  border: 2px solid rgba(13, 13, 46, .76);
  border-radius: 7px;
  padding: 1%;
}
.contact form textarea {
  width: 100%;
  min-width: 100%;
  min-height: 20px;
  background-color: transparent;
  border: 2px solid rgba(13, 13, 46, .76);
  border-radius: 7px;
  padding: 1%;
}
.contact button{
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 46, .76);
  color: whitesmoke;
  border: none;
  border-radius: 7px;
  padding: 1%;
}
.contact button:hover {
  cursor: pointer;
}

.address .row {
  display: flex;
}
.address .row .column {
  width: 50%;
  text-align: left;
}
.address .row .column-right a {
  text-decoration: none;
  color: red;
}
/* two equal columns strt*/
.introduction .row-introduction {
  display: flex;
}
.introduction .row-introduction .column {
  float: left;   
}
.introduction .row-introduction .column-left {
  width: 50%;
  padding: 0;
  
  
}

.introduction .row-introduction .column-right {
  width: 50%;
  padding: 5%;  
  border: none;
  border-radius: 50%;
  background-color: rgb(243, 92, 92);

}

/* two equal columns end*/
/* @media for the above equal columns starts*/
/* Need to work on that part.....bro.....
@media (max-width: 870px) {  
  .introduction .row-introduction .column-right {
    padding: 10% 10% 10% 10%;    
  }
  @media (max-width: 770px) {  
    .introduction .row-introduction .column-right {
      padding: 15% 10% 10% 10%;    
    }
}
*/
/* @media for the above equal columns ends*/
.row-introduction .column-left h2 {
  font-style: italic;
  text-align: left;
}
.row-introduction .column-left h2 i {
  color: rgb(243, 92, 92);
}
.introduction strong a {
  text-decoration: none;
  color: red;
}

/* Again two equal columns strt*/
.introduction .row-introduction-2 {
  display: flex;    
}
.introduction .row-introduction-2 h2 {
  text-align: center;
}
.introduction .row-introduction-2 .column {
  float: left;
  text-align: left;
  width: 50%;  
}

.introduction .row-introduction-2 .column-left {
  float: left;
  text-align: left;
  width: 50%; 
    
}
.introduction .row-introduction-2 .column-right {
  float: left;
  width: 50%;   
}
@media (max-width: 850px) {
  .introduction .row-introduction-2 .column-left {
    float: left;
    width: 100%;
  }
  .introduction .row-introduction-2 .column-right {
    float: left;
    width: 100%;
  }
}

/* Again two equal columns end*/
.introduction .row-introduction-2 .column-left p {
  text-align: left;
}




/*logodesign starts */
.logo-container {
  background-color: whitesmoke;
  border: 5px solid rgba(13, 13, 46, .76);
  border-radius: 10px;
  width: 20%;
  height: auto;
  padding: 0;
  margin: 1% 0 1% 3%;
}
.logo-container .row {
  display: flex;  
  height: auto; 
  padding: 0; 
  margin: 0;
}

.logo-container .row .column-left {  
  width: 35%;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  
}
.logo-container .row .column-right {
  width: 65%;
  background-color:transparent;
  color: rgba(13, 13, 46, .76);
  padding: 3%;
}


.logo-container .row .column-left .logo-monitor {
  width: 70px;
  padding: 6%;  
  background-color: transparent;
  border: 5px solid #97cce0;
  border-radius: 5px;
  margin: 5% 0 3% 5%;
  
}
.logo-container .row .column-left .logo-keyboard {
  width: 70px;
  background-color:  #97cce0;
  padding: 3%;  
  border-radius: 5px;
  margin: 0 0 5% 5%;
}

.logo-container .row .column-right .span-text {
  font-size: 16px;
  font-weight: bold;
  text-align: center;  
}

@media (max-width: 1050px) {
  .logo-container {    
    width: 22%;
    height: auto;
    padding: 0;
    margin: 1% 0 1% 3%;
  }
}
@media (max-width: 1000px) {
  .logo-container {    
    width: 24%;
    height: auto;
    padding: 0;
    margin: 1% 0 1% 3%;
  }
}
  @media (max-width: 950px) {
    .logo-container {    
      width: 26%;
      height: auto;
      padding: 0;
      margin: 1% 0 1% 3%;
    }
  }
   @media (max-width: 900px) {
      .logo-container {    
        width: 28%;
        height: auto;
        padding: 0;
        margin: 1% 0 1% 3%;
      }
   }  
      @media (max-width: 850px) {
        .logo-container {    
          width: 30%;
          height: auto;
          padding: 0;
          margin: 1% 0 1% 3%;
        }
      }
        @media (max-width: 800px) {
          .logo-container {    
            width: 32%;
            height: auto;
            padding: 0;
            margin: 1% 0 1% 3%;
          }
        }
          @media (max-width: 750px) {
            .logo-container {    
              width: 35%;
              height: auto;
              padding: 0;
              margin: 1% 0 1% 3%;
            }
          }
            
            @media (max-width: 700px) {
              .logo-container {    
                width: 38%;
                height: auto;
                padding: 0;
                margin: 1% 0 1% 3%;
              }
            }
              @media (max-width: 650px) {
                .logo-container {    
                  width: 41%;
                  height: auto;
                  padding: 0;
                  margin: 1% 0 1% 3%;
                }
              }

                @media (max-width: 600px) {
                  .logo-container {    
                    width: 44%;
                    height: auto;
                    padding: 0;
                    margin: 1% 0 1% 3%;
                  }
                }
                  @media (max-width: 550px) {
                    .logo-container {    
                      width: 47%;
                      height: auto;
                      padding: 0;
                      margin: 1% 0 1% 3%;
                    }
                  }
                    @media (max-width: 500px) {
                      .logo-container {    
                        width: 50%;
                        height: auto;
                        padding: 0;
                        margin: 1% 0 1% 3%;
                      }
                    }
                      @media (max-width: 450px) {
                        .logo-container {    
                          width: 53%;
                          height: auto;
                          padding: 0;
                          margin: 1% 0 1% 3%;
                        }
                      }
                        @media (max-width: 400px) {
                          .logo-container {    
                            width: 56%;
                            height: auto;
                            padding: 0;
                            margin: 1% 0 1% 3%;
                          }
                        }
                          @media (max-width: 350px) {
                            .logo-container {    
                              width: 59%;
                              height: auto;
                              padding: 0;
                              margin: 1% 0 1% 3%;
                            }
                          }
                            @media (max-width: 300px) {
                              .logo-container {    
                                width: 61%;
                                height: auto;
                                padding: 0;
                                margin: 1% 0 1% 3%;
                              }
                            }
                              @media (max-width: 250px) {
                                .logo-container {    
                                  width: 64%;
                                  height: auto;
                                  padding: 0;
                                  margin: 1% 0 1% 3%;
                                }
                              }
                                @media (max-width: 200px) {
                                  .logo-container {    
                                    width: 67%;
                                    height: auto;
                                    padding: 0;
                                    margin: 1% 0 1% 3%;
                                  }
                                }

/* my services strts*/
.web-development .web-development-row  {
  display: flex;
}
.web-development .web-development-row .column {
  float: left;
  text-align: left;
  width: 50%;
}
.web-development .web-development-row .column ul li {
  list-style: none;
}
.web-development .web-development-row .column ul li a {
  text-decoration: none;
  font-weight: bold;  
  color: red; 

}
/* my services ends*/
/* Templates css strts*/
.templates h1 {
  color: rgba(13, 13, 46, .76);
}
.templates button{
  width: 100%;
  background-color: rgba(13, 13, 46, .76);
  color: whitesmoke;
  border: none;
  border-radius: 7px;
  padding: 1%;
}
.templates button:hover {
  cursor: pointer;
}

/* Templates css ends*/
       
